html {
    background-color: white;
}

body {
    background-color: $lightblue;
    width: 1000px;
    margin: 1rem auto 0 auto;
    padding: 2rem 1rem 1rem 1rem;
}

section {
    background-color: white;
    width: 85%;
    margin: 1rem auto;
    @include border;
    padding: 1rem;
}



