// CSS Zen Garden by: Eric Shewchuk, Nathan Reeve and Ashley Bastian

.intro h1 {
    @include h1-text(1.4rem);
}
.intro h2, .intro h3 {
    @include small-h-text(1rem);
}

h2, h3 {
    @include small-h-text(1.3rem);
}

.intro h1, h2, h3{ 
    margin: 0;
}

.intro h2 {
    background-color: rgba(0,0,0,.6);
    border-radius: 1em 1em 0 0;
    padding: 1em 0 0 .5em;
}

.intro p {
    font-size: .7em;
}

@media (min-width: 450px) {
    .intro h1{
        @include h1-text(1.8rem);
    }
    .intro h2, .intro h3 {
            @include small-h-text(1.2rem);
        }
    .intro p {
            font-size: .9em;        
        }
}

@media (min-width: 900px) {
    .intro h1{
        @include h1-text(2.2rem);
    }
    .intro h2, .intro h3 {
        @include small-h-text(1.8rem);
        }
        .intro p {
            font-size: 1em;
        }
}

h3:not(.intro h1) {
    font-size: 2.5em;
}

h3:not(.preamble h3) {
    background-repeat: no-repeat;
    background-color: #22798F;
    padding-left: .5em;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.explanation h3 {
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.participation h3 {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.benefits h3 {
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.requirements h3 {
    background-image: url(images/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    @include body;
}

a {
    color: $darkbrown;
    text-decoration: none;
    transition: color .5s;
}

a:hover {
    color: $tan;
}

ul {

}

li {
    
}