// CSS Zen Garden by: Eric Shewchuk, Nathan Reeve and Ashley Bastian

h1 {
    @include h1-text;
}

h2, h3 {
    @include small-h-text;
}

h3 {

}

p {
    @include body;
}

a {
    color: $darkbrown;
    text-decoration: none;
    transition: color .5s;
}

a:hover {
    color: $tan;
}

ul {

}

li {
    
}