// CSS Zen Garden by: Eric Shewchuk, Nathan Reeve and Ashley Bastian
.intro p {
    line-height: 1.1em;
    margin: .1em 0;
}

.summary, .preamble {
    display: flex;
    flex-direction: column;
    width: 30em;
    position: relative;
    right: -44em;
}

.preamble {
    
}

.explanation {

}

.participation {

}

.benefits {

}

.requirements {
    
}

nav { // there are two section of <nav role='navigation> - assume both use same styling, for now

}

footer {

}

@media (min-width: 600px) {
    header { // this is the header -> housed inside <section class='intro'> role = banner

    }
}