// CSS Zen Garden by: Eric Shewchuk, Nathan Reeve and Ashley Bastian
.intro p {
    line-height: 1em;
    margin: .6em 0;
    color: white;
    text-align: left;
}

.summary, .preamble {
    max-width: 600px;
    background-color: rgba(0,0,0,.6);
    padding: 1em;
}

.preamble {
    border-radius: 0 0 1em 1em;
}

.explanation {

}

.participation {

}

.benefits {

}

.requirements {
    
}

nav { // there are two section of <nav role='navigation> - assume both use same styling, for now

}

footer {
    background: tan url(images/foot.jpg) no-repeat bottom;
    background-size: cover;
    padding: 50px 10px;
    margin: 1rem -1rem -1rem;
    font-family: 'Niramit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
        background: radial-gradient(closest-side at 30% 30%, #ffffff90, #70E2FF60), linear-gradient(to top, #ffffff90 5%, #ffffff00);
        border-radius: 100%;
        color: white;
    }
    .zen-validate-html {
        padding: 15px 10px;
    }
    .zen-validate-css {
        padding: 15px;
    }
    .zen-license {
        padding: 15px 19px;
    }
    .zen-accessibility {
        padding: 15px 14px;
    }
    .zen-github {
        padding: 15px 19px;
    }
}

@media (min-width: 600px) {
    header { // this is the header -> housed inside <section class='intro'> role = banner

    }
    footer {
        padding: 50px 100px;
    }
}