// CSS Zen Garden by: Eric Shewchuk, Nathan Reeve and Ashley Bastian

.intro {
    background-image: url(images/hero-background.webp);
    padding-right: 1em;
    height: 36em;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

body {
    background-color: $lightblue;
    max-width: 1200px;
    margin: 1rem auto 0 auto;
    padding-top: 0;
    @include border;
}

#zen-supporting { // main content <div> - contains .explanation, .participation, .benefits, .requirements, <footer>

}

.design-selection {

}

.design-archives {

}

.zen-resources {

}